@import '../variables.scss';

#my-notes.distraction-free-true {
	position:absolute;
	width:100%;
	height:100%;
	top:50px;
	left:0;
	border:none;
	background-color:white;
}

#my-notes {

.my-notes-false {
	display:none;
}

.my-notes-true {
	li {display:block;}
}

	nav {
		background-color:$GRAY;
		li { display:inline; margin-bottom: 10px;}
	}

	main {

			input, textarea {
				width: 100%;
				margin-top: 25px;
			}

			textarea {
			min-height: 600px;
			padding: 15px;
			}

			label {
			margin-top:10px;
			display:block;
			font-weight: bold;
			}

		input#updated_at {
			font-style:italic;
			border:none;
			text-align: right;
			float:right;
			width:auto;
			display:inline-block;
			margin-top:0;
		}

		label.date {
		display:inline;
		}

		div.line {
			width: 100%;
			min-width: 300px;
			margin-left:0;
			margin-right:0;


		}
	}
}