@import '../variables.scss';

#bible {

	.row {
		max-width: 1000px;
	    margin-left: auto;
	    margin-right: auto;

		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: flex-start;
		align-items: flex-start;

		> div {
		margin: 15px;
		flex: 1;
		}
   
	}


}